@*

*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Contrato</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/nprogress.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />

    <meta name="robots" content="noindex, follow">

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 12px;
        }

        p, span {
            font-size: 12px;
        }

        .text-center {
            text-align: center !important;
        }

        .bold {
            font-weight: bold;
        }

        .contractNumber {
            position: absolute;
            top: -1%;
            left: 80%;
        }
    </style>
</head>
<body style="height: 1000px;">
    <p class="contractNumber"><b>CONTRATO PR51401</b></p>
    <div class="text-center" style="margin-right: 10px; margin-left: 10px;">
        <h3 class="bold">CONTRATO DE CONSULTORIA FINANCEIRA</h3>
        <p>(TÍTULO EXECUTIVO EXTRAJUDICIAL)</p>
    </div>
    <div style="margin-right: 10px; margin-left: 10px">
        <span>Por meio do presente instrumento particular, de um lado o cliente / consumidor:</span>
        <table style="width: 100%; border-top: none; border-left: none; border-right: none;">
            <thead style="border: none !important">
                <tr style="border: none !important">
                    <th style="border: none !important; width: 23%;"></th>
                    <th style="border: none !important"></th>
                    <th style="border: none !important; width: 20%;"></th>
                    <th style="border: none !important"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nome/Razão Social do Cliente</td>
                    <td>DIEGO ANDRADE SAMPAIO</td>
                    <td>Sexo</td>
                    <td>Masculino</td>
                </tr>
                <tr>
                    <td>CPF/CNPJ</td>
                    <td>000.000.000-00</td>
                    <td>RG/Insc. Estadual</td>
                    <td>12345678-99</td>
                </tr>
                <tr>
                    <td>Órgão Epx./UF</td>
                    <td>SSP/BA</td>
                    <td>Data de nasc./Fundação</td>
                    <td>15/09/1987</td>
                </tr>
                <tr>
                    <td>Endereço</td>
                    <td colspan="3">RUA NOSSA SENHORA DE BROTAS, N 107, APT 402, EDF FLORA</td>
                </tr>
            </tbody>
        </table>
        <span>doravante denominada CONTRATANTE, e de outro lado:</span>
        <p style="text-align:justify">
            <b>GRUPO SELECT</b>, sociedade empresarial de direito privado, regularmente inscrita no Cadastro Nacional da Pessoa Jurídica (CNPJ) sob o nº 46.808.272/0001-13, com sede Av. Tancredo Neves, nº 274, Edfício Centro Empresarial Iguatemi, Bloco B, terceiro andar, Salvador/BA, CEP 41.820-020, através de seu representante legal doravante denominada CONTRATADA, acordam o presente contrato.<br />
        </p>
        <p style="text-align:justify">
            <b>CLÁUSULA PRIMEIRA.</b> Constitui objeto do presente instrumento a prestação de serviços intelectuais de consultoria financeira, que será realizada pela CONTRATADA para o CONTRATANTE, e em decorrência a CONTRATADA orientará a CONTRATANTE sobre a realização de financiamentos, consórcios, empréstimos etc. O investimento a ser realizado pela CONTRATANTE junto a um Banco ou Financeira ou Administradora de Consórcios, seja na modalidade de consórcio, financiamento, empréstimo ou outra modalidade, é de inteira responsabilidade do CONTRATANTE.<br />
            <b>CLÁUSULA SEGUNDA.</b> A CONTRATADA receberá a título de honorários pela consultoria financeira, em parcela única, o percentual de	% sobre o valor do crédito total pretendido pelo CONTRATANTE.CLÁUSULA TERCEIRA. O pagamento dos honorários pela consultoria financeira é <span style="text-decoration: underline; font-weight: bold">absolutamente independente</span> do investimento financeiro a ser realizado junto a qualquer Banco ou Administradora de Consórcios pelo CONTRATANTE.<br />
            <b>CLÁUSULA TERCEIRA.</b> O pagamento dos honorários pela consultoria financeira é absolutamente independente do investimento financeiro a ser realizado junto a qualquer Banco ou Administradora de Consórcios pelo CONTRATANTE.<br />
            <b style="text-align:justify;">CLÁUSULA QUARTA. A CONTRATANTE concorda que a remuneração pela consultoria (honorários) será devida em sua integralidade, e ainda que o CONTRATANTE se arrependa do negócio entabulado, seja por qualquer motivo, <span style="text-decoration: underline;">NÃO HAVERÁ DEVOLUÇÃO EM HIPÓTESE ALGUMA</span>.</b><br />
            <b>CLÁUSULA QUINTA.</b> Em havendo a orientação para aquisição de cota de consórcio, deve o contratante observar o disposto nos artigos 22 e 30 da LEI FEDERAL 11.795/2008, que trata da forma de devolução através de sorteios mensais para os casos de quotistas excluídos ou desistentes, ou ao final do grupo no prazo de 30 dias do seu encerramento, junto à Administradora de Consórcios escolhida, e estas disposições em nada se relacionam com os valores pagos a título de honorários pela consultoria financeira prestada.<br />
            <b>CLÁUSULA SEXTA.</b> A CONTRATANTE autoriza a CONTRATADA a receber, inclusive em espécie, e realizar a transferência dos valores no prazo de 48 horas para Administradora de Consórcio devidamente autorizada pelo Banco Central, referente a aquisição da cota de consórcio em nome do consorciado.<br />
            <b>CLÁUSULA SÉTIMA.</b> A CONTRATANTE, ao assinar o presente instrumento, declara e ratifica que leu na íntegra, compreendeu e concorda com os direitos e obrigações que passa a ter e assumir, aceitando, sem restrições, de forma livre e consciente, as condições ora estabelecidas.<br />
            <b>CLÁUSULA OITAVA.</b> Não faz parte do presente instrumento ou da avença por ele expressa nenhuma eventual promessa ou informação escrita ou verbal do consultor ou qualquer outra pessoa que seja divergente deste contrato, devendo ser desconsiderado todo e qualquer instrumento que não seja parte integrante deste contrato.<br />
            <b>CLÁUSULA NONA.</b> A CONTRATANTE autoriza, a título gratuito, o uso de minha imagem e voz em fotos e/ou filmagens, com ou sem finalidade comercial por parte da CONTRATADA, em todo território nacional, em todas as suas modalidades, inclusive para exposição em redes sociais.<br />
            <b>CLÁUSULA DÉCIMA.</b> As partes elegem a foro da comarca de Salvador/Bahia para resolução de eventuais conflitos e por estarem assim justos e contratados, reputam o avençado por bom, firme e valioso, e firmam o presente instrumento em 02 (duas) vias de igual teor, ficando desde já estabelecida multa no importe de R$ 2.000,00 (dois mil reais) para cada ato que, ao invés das vias legais, busque as vias ilegais, tais como publicações ofensivas, difamação ou calúnia na internet.
        </p>
    </div>
    <div class="text-center" style="margin-right: 10px; margin-left: 10px; margin-top: 20px;">
        <p>Cidade_________________________________________________________, _________/__________/__________</p>
        <h4 style="color: red;"><b>NÃO ASSINE SEM LER</b></h4>
    </div>
    <div style="margin-right: 10px; margin-left: 10px">
        <table style="border: none !important; width: 100%;">
            <thead style="border: none !important">
                <tr style="border: none !important">
                    <th style="border: none !important; width: 50%;"></th>
                    <th style="border: none !important; width: 50%;"></th>
                </tr>
            </thead>
            <tbody style="border: none !important">
                <tr class="text-center" style="border: none !important">
                    <td style="border: none !important">_________________________________________________<br />CONTRATANTE<br />(Declaro que li e concordei com todas as cláusulas)</td>
                    <td style="border: none !important">_________________________________________________<br />CONTRATADA<br />&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <br />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Testemunhas</span>
        <table style="border: none !important; width: 100%;">
            <thead style="border: none !important">
                <tr style="border: none !important">
                    <th style="border: none !important; width: 50%;"></th>
                    <th style="border: none !important; width: 50%;"></th>
                </tr>
            </thead>
            <tbody style="border: none !important">
                <tr class="text-center" style="border: none !important">
                    <td style="border: none !important">_________________________________________________<br />CPF</td>
                    <td style="border: none !important">_________________________________________________<br />CPF</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

