i.fa-logo {
    content: "";
    background-image: url('../img/logo.png');
    width: 40px;
    height: 20px;
    /*//WIDTH of the icon height: 100px;
    //HEIGHT of the icon display: inline-block;*/
    background-position: center;
    background-size: cover;
}

i.fa-logo-white {
    content: "";
    background-image: url('../img/logo_white.png');
    width: 40px;
    height: 20px;
    background-position: center;
    background-size: cover;
}

.btn-group-xs > .btn, .btn-xs {
    padding: .30rem;
    font-size: .6rem;
    line-height: .5;
    border-radius: .2rem;
}