<div class="x_title">
    <h2>
        @System.Configuration.ConfigurationManager.AppSettings["NomeSistema"] <i class="fa fa-chevron-right"></i> @ViewContext.RouteData.Values["controller"].ToString() <i class="fa fa-chevron-right"></i> @ViewContext.RouteData.Values["action"].ToString()
    </h2>
    <div class="clearfix"></div>
</div>